{% extends "template.html" %}
{% block head %}
    <style>
        .content {
            width: 1091px !important;
        }
        </style>
    <script type="text/javascript">
        $(document).ready(function () {

            function showDominance() {
                var tableValence = $("#tableValence");
                tableValence.hide();

                var instrValence = $("#instrValence")
                instrValence.hide();

                var tableDominance = $("#tableDominance");
                tableDominance.fadeIn(500);

                var instrDominance = $("#instrDominance")
                instrDominance.fadeIn(500);
            }


            function finish() {
                //document.getElementById('form').submit();
                $.post( "/log_sam", {
                    "message": "logSAM",
                    "pid": String({{ session['participantID'] }}),
                    "dominance": $("#dominance").val(),
                });
                window.location.href = "/redirect_next_page";
            }

            var dominance = $("#dominance");


            var D1 = $("#D1");
            var D2 = $("#D2");
            var D3 = $("#D3");
            var D4 = $("#D4");
            var D5 = $("#D5");
            var D6 = $("#D6");
            var D7 = $("#D7");


            D1.on('click', function() { dominance.val(1); finish(); });
            D2.on('click', function() { dominance.val(2); finish(); });
            D3.on('click', function() { dominance.val(3); finish(); });
            D4.on('click', function() { dominance.val(4); finish(); });
            D5.on('click', function() { dominance.val(5); finish(); });
            D6.on('click', function() { dominance.val(6); finish(); });
            D7.on('click', function() { dominance.val(7); finish(); });
        });
    </script>
    <style>
        .sam_option { border: 1px solid #F7F7F7; }
        .sam_option:hover { border: 1px solid black; }
    </style>
{% endblock %}

{% block content %}

    <form id="form" action="" method="post">

        <input type="hidden" name="dominance" id="dominance">

        <div class="question">
            <div class="padding" id="instrDominance" style="display:none;">
                <h3>Instructions</h3>
                <p>Below you will see three series of images. Please choose the images that reflect how you are currently feeling.</p>
                <p>The third scale rates the dimension of controlled vs in-control. At the low end of the dominance scale are feelings like completely controlled, influened, cared-for, submissive, guided. At the high end are feelings like completely controlling, influential, in control, important, dominant. Click the icon that represents how you felt while playing.</p>
            </div>
        </div>

        <div class="question padding" style="padding: 10px; text-align: center;">
            <table id="tableDominance" style="display:none; margin-left: auto; margin-right: auto;">
                <tr>
                    <td><img class="sam_option" id="D1" src="{{ url_for('SpaceOddity.static', filename='sam/D1.png') }}"></td>
                    <td><img class="sam_option" id="D2" src="{{ url_for('SpaceOddity.static', filename='sam/D2.png') }}"></td>
                    <td><img class="sam_option" id="D3" src="{{ url_for('SpaceOddity.static', filename='sam/D3.png') }}"></td>
                    <td><img class="sam_option" id="D4" src="{{ url_for('SpaceOddity.static', filename='sam/D4.png') }}"></td>
                    <td><img class="sam_option" id="D5" src="{{ url_for('SpaceOddity.static', filename='sam/D5.png') }}"></td>
                    <td><img class="sam_option" id="D6" src="{{ url_for('SpaceOddity.static', filename='sam/D6.png') }}"></td>
                    <td><img class="sam_option" id="D7" src="{{ url_for('SpaceOddity.static', filename='sam/D7.png') }}"></td>
                </tr>
            </table>
            <div style="clear: both"></div>
        </div>

    </form>

    <p></p>

{% endblock %}