<b>Introduction</b>
<ul>
    <li>You will now complete questionnaires asking questions about yourself, and your experience with games in general.</li>

    <h1 style="color:forestgreen;">Attention Chrome Users</h1>
    <li>
        If you use Chrome, please ensure 'hardware acceleration' is enabled (this is turned on by default). If this it not enabled, the game will have critical performance issues. To enable 'hardware acceleration':
    </li>
    <ol> 1. Open a new tab. </ol>
    <ol> 2. In the address bar, navigate to chrome://settings/system </ol>
    <ol> 3. Ensure 'Use hardware acceleration when available' is enabled. If not, please enable it (you can disable it again after finishing the study).</ol>
    <ol> 4. Re-launch your browser and navigate back to this study.</ol>
</ul>




