<b>Instructions</b>
<ul>
    <li>You will now play our game, Space Oddity. There are three levels to play. <u>Each level takes 3 minutes</u>. You need to survive the 3 minutes to proceed to the next level. If you lose midway, you are requested to restart that level. You will finish playing the game when you survive all three levels.</li>
    <li>Play with sound on! There are sound effects that we want you to hear while you play.</li>
    <li>The game can take some time to load depending on the machine you play on. However if it takes more than 30 seconds to load, refresh the page.</li>
</ul>




